.title {
  padding: 10px 0 50px;
  font-size: 4rem;
}

.todoListWrapper {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid var(--primary);
  border-radius: 16px;
  box-sizing: border-box;
}

.createButton {
  margin-left: auto;
}
