.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;

  &.primary {
    background-color: var(--primary);
    color: var(--text-color);
  }

  &.dangerous {
    background-color: var(--red);
    color: var(--text-color);
  }

  &.small {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
  }

  &.medium {
    width: 80px;
    height: 40px;
    font-size: 1.6rem;
  }

  &.large {
    width: 150px;
    height: 60px;
    font-size: 2rem;
  }
}
