.todoItem {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(0, 184, 148, 0.1);
  box-sizing: border-box;

  & + .todoItem {
    margin-top: 10px;
  }
}

.buttonGroup {
  display: flex;
  justify-content: end;
  gap: 6px;
  margin-top: 20px;
}

.description {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--primary);
}
