.header {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    order: 1;
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  order: 0;
}

.description {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--primary);
}
